{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>👋 About Me</h1>
<br></br>
<p>   Hello! It is Andrea Jil here. Feel free to refer to me as Dreya or simply Drey. A second-year student pursuing a Bachelor of Science in Information Technology at AMA University.</p>
    <p>   I was raised in the province of Romblon. It is in the center of the small Sibuyan Sea, which divides the Visayas and Luzon. It was a true blessing for me to spend the first eighteen years of my life there before relocating to the city. It feels a bit like an emotional rollercoaster to be leaving the province where I have lived. I am feeling a mixture of nervousness, sadness, and excitement. Nevertheless, I have become used to living in this place and am continuing to reach my dreams.
    </p>

{% endblock %}