{% extends "base.html" %}
{% block title %} Andrea. {% endblock %}
{% block content %}
<h1>💻 Explore Andrea's App </h1>
<br></br>
<p> Greetings! I took the time to create this app specifically for you to have a better understanding of who I am. A brief overview of my life.</p>
<br>
<h2>Dream Destinations</h2>
<ul>
    <li>Maldives</li>
    <li>Japan</li>
    <li>South Korea</li>
    <li>California</li>
    <li>New York</li>
</ul>

<h2>Favorite K-pop Bands </h2>
<ul>
    <li>Enhypen</li>
    <li>Seventeen</li>
    <li>Exo</li>
    <li>Twice</li>
    <li>Blackpink</li>
    <li>Ive</li>
    <li>Le Sserafim</li>
</ul>

<h2> Hobbies</h2>
<ul>
    <li> Reading Books </li>
    <li> Listening to music </li>
    <li> Watching Movies </li>
    <li> Collecting Makeups </li>
    <li> Dressing Up </li>
    <li> Jewelry Making (Beads) </li>
    <li> Cooking </li>

</ul>
{% endblock %}